@media screen and (max-width: 600px) {
    body {
        background-color: blue;
    }
}
@media screen and (max-width: 450px) {
    body {
        background-color: orange;
    }
    
}
body {
    background-color: pink;
}
img {
    width: 100%;
    height: auto;
}